.auth-layout {
  display: flex;
  height: 100vh;
}

.left {
  flex: 1;
  background: linear-gradient(135deg, #4f46e5, #06b6d4);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fb;
}